<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/* 
		 필요한 html 요소만 정의한다 
		 th:fragment="footerFragment" 반드시 명시하도록 한다 
 */-->
     <footer th:fragment="footerFragment" class="ftco-footer ftco-section">
		<div class="container">
      		<div class="row">
      			<div class="mouse">
					<a href="#" class="mouse-icon">
						<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
					</a>
				</div>
      		</div>
      		
        	<div class="row mb-5">
          		<div class="col-md">
            		<div class="ftco-footer-widget mb-4">
             			<h2 class="ftco-heading-2">JUICETA</h2>
             			<p>과수농가와 연계하여 못난이 과일을 활용한 과일즙, 과일차 판매합니다.<br>신선하고 건강한 과일즙, 과일차를 저렴한 가격으로 구매하세요.</p>
            		</div>
          		</div>

          		<div class="col-md">
            		<div class="ftco-footer-widget mb-4">
		            	<h2 class="ftco-heading-2">Information</h2>
		            	<div class="block-23 mb-3">
			              <ul>
			                <li><span class="icon icon-map-marker"></span><span class="text">123 Street, Ori, Republic of Korea</span></li>
			                <li><span class="icon icon-phone"></span><span class="text">+031 345 6789</span></li>
			                <li><span class="icon icon-envelope"></span><span class="text">info@juiceta.com</span></li>
			              </ul>
	            		</div>
            		</div>
          		</div>
        	</div>
        	
        	<div class="row">
          		<div class="col-md-12 text-center">
            		<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
          		</div>
        	</div>
      	</div>
    </footer>
  
</html>